@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h4>Help Students Reach Their Potential</h4>
                <h1>Student Information System</h1>
                <p class="text-tertiary">Maging kabalikat sa pag-aaral</p>
                <a href="http://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-primary mb-4">Learn More</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-end">
                
                    <div >
                        <img src="@Url.Content("~/Images/student.png")" width="500" class="img-fluid mx-auto d-block">
                    </div>
                </div>
        </div>
    </div>
</div>
